@import "variables";
@import "mixins";

.home-container {
	.banner {
		height: 400px;
		@media(max-width:767px) { height: 300px; }
		background-image: url('../../images/banner.jpg');
		@include background-size(cover);
		background-position: top right;
		@include box-shadow($darkgray);
	}
	.main-content {
		width: 50%;
		@media(max-width:1600px) { width: 60%; }
		@media(max-width:1400px) { width: 75%; }
		@media(max-width:1200px) { width: 90%; }
		@media(max-width:767px) { width: 100%; }
		margin: auto;
		.button-container {
			text-align: center;
		}
	}
}
