// Colours
$black: rgba(33, 33, 33, 1);
$blue: rgba(69, 120, 192, 1);
$darkgray: rgba(161, 161, 161, 1);
$lightgray: rgba(224, 224, 224, 0.5);
$pink: rgba(255, 64, 129, 1);
$turquoise: rgba(0, 188, 212, 1);
$white: rgba(255, 255, 255, 1);

// Fonts
$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;
